
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    
}
.menu{
    display: flex;
    list-style: none;
    
 }
 .menu li{
     margin-left: 25px;
     justify-content: space-between;
 }